<a href="https://colab.research.google.com/github/yingzibu/PBPK/blob/main/python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Hello World!')

In [ ]:
print("Hello World!") # quote mark does not matter, as long as it's consistent

In [ ]:
# print("Hello World!")

In [ ]:
print('Hello World")

### variables, type of variables

In [ ]:
a = 1.0 # a is a float number
b = '1' # b is a string
c = 'Hello World!' # c is a string

print(type(c))
print(c)

In [ ]:
print("a:", a, " type:", type(a))

In [ ]:
"""
Example 1: print b and the type of b
Example output: 1 <class 'str'>
"""
b = "1"
### ENTER YOUR CODE ###

#######################

### check the relations between variables

In [ ]:
a = 1
b = '1'

a == b # 2 equal signs, check whether a is the same as b
       # False, but why?

In [ ]:
"Summer" == "summer" # capital matters

In [ ]:
"summer" == 'summer' # quote mark does not matter, as long as it's consistent

In [ ]:
a = 1
d = 2

a < d, a >= d, a != d

In [ ]:
a + d, a - d, a * d, a / d, a**d

### function

In [ ]:
"""
write a function that takes 2 numbers as input, output the sum
"""
def addition(a, b):
    output = a + b
    return output

temp = addition(1, 2)
print(temp)

In [ ]:
"""
Example 2: write a function that takes 2 numbers as input, output the multiplication
Example function: multiply(3, 1.5)
Example output:   4.5
"""
### ENTER YOUR CODE ###
def multiply(var1, var2):

#######################
print(multiply(3, 1.5))

### list and dictionary

In [ ]:
list_here = [5, 2, 3, 4, 1]
# index.     0  1  2  3  4
#           -5 -4 -3 -2 -1
print(type(list_here))
print(list_here[0])
print(list_here[:3])

In [ ]:
list_here[-1], list_here[:-1]

In [ ]:
dict_here = {'apple': 'fruit',
             'soccer': 'sport',
             'banana': 'fruit'} # key: value
print(dict_here['apple'])

### for loop

In [ ]:
list_1 = [0, 2, 3, 4, 1]
for i in list_1: # go through the items in the list one by one
    print(i)

In [ ]:
list_2 = [2, 9, 12, 3, 2]
for i, j in zip(list_1, list_2):
    print(i, j)

In [ ]:
dict_here = {'apple': 'fruit',
             'soccer': 'sport',
             'banana': 'fruit'} # key: value
for i, j in dict_here.items():
    print(i, j)

### if, elif, else

In [ ]:
"""
have a variable season_now,
    if season_now is summer, print "hot"
    if season_now is winter, print "cold"
    else, print "cool"
"""

season_now = 'autumn'

if season_now == 'summer':
    print('hot')
elif season_now == 'winter':
    print('cold')
else:
    print('cool')

In [ ]:
"""
Define a function with an input of season, output its weather
"""
def weather(season_here):
    if season_here == 'summer':
        print('hot')
    elif season_here == 'winter':
        print('cold')
    else:
        print('cool')

weather('winter')

# weather('spring')

In [ ]:
"""
write a function with an input (type: float),
            if input > 50,   print: num > 50
            elif input > 30, print: num in (30, 50]
            else:            print: num <= 30
"""

def func_here(num_here):
    if num_here > 50:
        print(f'{num_here} > 50')
    elif num_here > 30: # it already assumes that num_here <= 50
        print(f"{num_here} in (30, 50]")
    else:  # it assumes that num_here <= 30
        print(f'{num_here} <= 30')

func_here(34)

In [ ]:
"""
Example 3: write a function with an input (type: float),
            if input > 60,   print:  > 60
            else:            print:  <= 60
"""
### ENTER YOUR CODE ###


#######################

### plot data

In [ ]:
import matplotlib
matplotlib.rcParams['figure.figsize'] = (5.5,3)
import matplotlib.pyplot as plt
xs = [1, 2, 3, 5.5, 7]
ys = [3, 4, 10, 2.9, 2]
plt.plot(xs, ys, label='y')
plt.xlabel('time') # specify the x axis label
plt.ylabel('conc') # specify y axis label
plt.title('conc vs time curve') # specify the title
plt.legend() # show label of the line
plt.show(); plt.close()

### Class

In [ ]:
JOB_A = {'hourpay': 200,
         'overtime': 50}
JOB_B = {'hourpay': 28,
         'overtime': 100}

EMP_1 = [50, 42, 36, 46] # week hours, 4 weeks
EMP_2 = [13.4, 20.5, 16.8, 27]

# We want to plot the week workload
# and also calculate the salary for the month
class salary:
    def __init__(self, hour_list, job):
        self.hour_list = hour_list
        self.job = job

    def view_workload(self, xlabel='week', ylabel='hours', title='workload'):
        week = [1, 2, 3, 4]
        plt.plot(week, self.hour_list)
        plt.xlabel(xlabel);
        plt.ylabel(ylabel);
        plt.title(title)
        plt.show(); plt.close()

    def month_pay(self):
        total_hours = 0
        for i in self.hour_list:
            total_hours += i
        overtime = total_hours - 160
        monthpay = self.job['hourpay'] * 160
        if overtime > 0:
            monthpay += overtime * self.job['overtime']
        print('month payment is ', monthpay)
        return monthpay

In [ ]:
var_here = salary(EMP_1, JOB_A)
var_here.month_pay()
var_here.view_workload()
# var_here.view_workload(title='workload for August')

In [ ]:
"""
Example 4: check EMP_2 with JOB_B, plot the workload and calculate the salary
"""
### ENTER YOUR CODE ###


#######################